WebApplication1/WebApplication1/Web References/localhost/MovieList.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getAllFilms">
        <s:complexType />
      </s:element>
      <s:element name="getAllFilmsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllFilmsResult" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getAllFilmsSoapIn">
    <wsdl:part name="parameters" element="tns:getAllFilms" />
  </wsdl:message>
  <wsdl:message name="getAllFilmsSoapOut">
    <wsdl:part name="parameters" element="tns:getAllFilmsResponse" />
  </wsdl:message>
  <wsdl:portType name="MovieListSoap">
    <wsdl:operation name="getAllFilms">
      <wsdl:input message="tns:getAllFilmsSoapIn" />
      <wsdl:output message="tns:getAllFilmsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MovieListSoap" type="tns:MovieListSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAllFilms">
      <soap:operation soapAction="http://tempuri.org/getAllFilms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MovieListSoap12" type="tns:MovieListSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAllFilms">
      <soap12:operation soapAction="http://tempuri.org/getAllFilms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MovieList">
    <wsdl:port name="MovieListSoap" binding="tns:MovieListSoap">
      <soap:address location="http://localhost:3380/MovieList.asmx" />
    </wsdl:port>
    <wsdl:port name="MovieListSoap12" binding="tns:MovieListSoap12">
      <soap12:address location="http://localhost:3380/MovieList.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>